<li class="course-item" [highlightCourse]="course">
  <div class="course-details">
    <div class="course-header">
      <h3>{{course.title | uppercase}}</h3>
      <span class="duration">{{course.duration | duration}}</span>
      <i class="fa fa-star" *ngIf="course.isTopRated"></i>
      <time>{{course.date | date}}</time>
    </div>
    <div class="course-description">
      {{course.description}}
    </div>
  </div>
  <div class="course-actions">
    <a class="btn" [routerLink]="['/edit-course', course.id]">Edit Course</a>
    <button class="btn" (click)="remove.next(course.id)">Delete</button>
  </div>
</li>