<div class="action-holder">
  <form class="form-inline"
        (submit)="search.next(query)">
    <div class="form-group">
      <input type="text"
             autoComplete="off"
             class="form-control"
             id="exampleInputAmount"
             placeholder="Name fragment or date"
             [(ngModel)]="query"
             [ngModelOptions]="{standalone: true}"/>
      <button type="submit"
              class="btn search-btn">Search</button>
    </div>
  </form>
  <a class="btn" routerLink="/add-course">Add Course</a>
</div>