<div class="action-holder">
  <form class="form-inline" >
    <div class="form-group">
      <input type="text"
             autoComplete="off"
             class="form-control"
             id="exampleInputAmount"
             placeholder="Name fragment or date"
             [(ngModel)]="query"
             [ngModelOptions]="{standalone: true}"/>
      <button type="button"
              class="btn search-btn"
              (click)="search.next(query)">Search</button>
    </div>
  </form>
  
  <button class="btn">Add Course</button>
</div>