<div class="action-holder">
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input type="text"
               autoComplete="off"
               class="form-control"
               id="exampleInputAmount"
               placeholder="Name fragment or date"/>
        <div class="input-group-addon">
          <button type="button" class="btn" >Find</button>
        </div>
      </div>
    </div>
  </form>
  
  <button class="btn">Add Course</button>
</div>