<form class="form-horizontal add-course-form" novalidate
      [formGroup]="form"
      (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="col-sm-3 control-label">Title</label>
    <div class="col-sm-9">
      <input type="text"
             class="form-control"
             placeholder="Enter title"
             name="title"
             formControlName="title">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Description</label>
    <div class="col-sm-9">
      <textarea rows="3"
                class="form-control"
                placeholder="Enter description"
                name="description"
                formControlName="description"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Date</label>
    <div class="col-sm-4">
      <input type="date"
             class="form-control"
             name="date"
             formControlName="date">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Duration</label>
    <duration-input formControlName="duration"></duration-input>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Authors</label>
    <authors-select class="col-sm-9"
                    formControlName="authors"></authors-select>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit"
              class="btn btn-default"
              [disabled]="form.status === 'INVALID'">Save</button>
      <a type="submit"
         routerLink="/"
         class="btn btn-default">Cancel</a>
    </div>
  </div>
</form>