header {
  width: 100%;
  padding: 10px 183px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 -8px 24px -1px grey;
  background-color: #FFF;

  img {
    width: 70px;
    height: 70px;
  }

  .left-side {
    display: flex;
    align-items: center;
    h1 {
      padding: 0 20px;
    }
  }

  .right-side {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }

  .username {
    font-size: 15px;
  }

  .auth-link {
    font-size: 15px;
    text-decoration: none;
    color: grey;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: #545454;
    }
  }
}