<header>
  <div class="left-side">
    <a routerLink="/">
      <img src="/public/images/angular.svg" alt="">
    </a>
    <h1>Courses</h1>
    <button class="btn" *ngIf="!isLoginPage">Courses</button>
  </div>
  
  <section *ngIf="!isLoginPage">
    <div class="right-side" *ngIf="!user">
      <a routerLink="/login" class="auth-link">Sign in</a>
    </div>
    <div class="right-side" *ngIf="user">
      <span class="username">Hey, {{user.username}}</span>
      <a href="#" class="auth-link"
         (click)="$event.preventDefault(); logout.next()">Logout</a>
    </div>
  </section>
</header>