<ul class="category-list">
  <li>
    <div class="">
      <span>
        <button class="btn arrow">
          <i class=""></i>
        </button>
        <input type="text"
               value=""/>
        <a href="">asd asd</a>
        <button class="btn">
          <i class="fa fa-edit"></i>
        </button>
      </span>
      <span class="pull-right">
        <button class="btn">
          <i class="fa fa-trash"></i>
        </button>
        <button class="btn">
          <i class="fa fa-plus-square-o"></i>
        </button>
        <button class="btn"
                onClick="">
          <i class="fa fa-mail-reply"></i>
        </button>
      </span>
    </div>
  </li>
</ul>