header {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;

  h1 {
    display: inline-block;
    margin-right: auto;
  }
}

.action-holder {
  padding: 20px 40px 20px 30px;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: stretch;

  .sidebar {
    width: 30%;
    padding-left: 30px;
    overflow-y: auto;
  }

  .main-list {
    width: 70%;
    overflow-y: auto;
    padding: 0 40px;
  }

}
